/* Стили для основного контейнера пагинации */
.ant-pagination {
  display: flex;
  justify-content: center; /* Центрирование пагинации */
  font-size: 16px; /* Размер шрифта номеров страниц */
}
  
/* Стили для элементов списка пагинации */
.ant-pagination-item {
  border: none; /* Убрать рамки */
  margin: 0 11px; /* Расстояние между элементами */
}  

.ant-pagination-item-active {
  background-color: #1890FF !important; /* фон для активного элемента */
}
  
.ant-pagination-item-active a {
  color: white !important; /* белый цвет текста ссылки для активного элемента */
}
  
.ant-pagination-item-500,
.ant-pagination-jump-next-custom-icon,
.ant-pagination-jump-prev-custom-icon {
  display: none !important;
}
